# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory - allow everyone to maintain their own version
node_modules

# Optional npm cache directory
.npm


# Config files
private

